<article>
    <section class="header">
    </section>
    <section>
      $if(photo)$<img src="../images/$photo$"
		      style="object-fit: cover; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 240pt; height: 240pt; ">
      <!-- TODO the style should be set elsewhere ... -->
      $endif$
      Links:
      <ul>
$if(GoogleScholar)$<li><a href="$GoogleScholar$">Google Scholar</a></li> $endif$
$if(ResearchChalmers)$<li><a href="$ResearchChalmers$">Research Chalmers</a></li> $endif$
$if(homepage)$<li><a href="$homepage$">Homepage</a></li> $endif$
$if(github)$<li><a href="$github$">GitHub</a></li> $endif$
$if(orcid)$<li><a href="$orcid$">ORCID</a></li> $endif$
$if(youtube)$<li><a href="$youtube$">YouTube</a></li>           $endif$
      </ul>
      
      $body$
    </section>
</article>
