<article>
    <section class="header">
      $if(position)$[$position$]$endif$
    </section>
    <section>

      $if(photo)$<img src="../images/$photo$" id=photo> $endif$
      Links:
      <ul>
$if(homepage)$<li><a href="$homepage$">Homepage</a></li> $endif$
$if(GoogleScholar)$<li><a href="$GoogleScholar$">Google Scholar</a></li> $endif$
$if(ResearchChalmers)$<li><a href="$ResearchChalmers$">Research Chalmers</a></li> $endif$
$if(GUP)$<li><a href="$GUP$">GU Publications</a></li> $endif$
$if(github)$<li><a href="$github$">GitHub</a></li> $endif$
$if(orcid)$<li><a href="$orcid$">ORCID</a></li> $endif$
$if(youtube)$<li><a href="$youtube$">YouTube</a></li>           $endif$
      </ul>
      
      $body$
    </section>
</article>
